[submodule "dotbot"]
    path = .dotbot
    url = https://github.com/anishathalye/dotbot

[submodule "liquidprompt"]
    path = liquidprompt
    url = https://github.com/nojhan/liquidprompt

[submodule "solarized"]
    path = solarized
    url = https://github.com/altercation/solarized

[submodule "spacemacs"]
	path = spacemacs
	url = https://github.com/syl20bnr/spacemacs.git
	branch = develop
