[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot.git

[submodule "liquidprompt"]
	path = liquidprompt
	url = https://github.com/nojhan/liquidprompt.git

[submodule "solarized"]
    path = solarized
    url = https://github.com/altercation/solarized

[submodule "spacemacs"]
	path = spacemacs
	url = https://github.com/syl20bnr/spacemacs.git
