Pygments
virtualenv
virtualenvwrapper
astroid
isort
pycodestyle
flake8
neovim
mkl
mkl_fft
mkl_random
mkl-devel
ipp
ipp-devel
daal
pydaal
daal-devel
tbb
tbb4py
intel-openmp
intel-numpy
intel-scipy
intel-scikit-learn
tbb4py
jupyter
